<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h1 class="display-4 text-success">Order completed successfully!</h1>
        <p>You can check all your orders in the orders section of your profile.</p>
        <hr />
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHJqZ3R6Z3R6Z3R6Z3R6Z3R6Z3R6Z3R6Z3R6Z3R6Z3R6JmVwPXYxX2ludGVybmFsX2dpZl9ieV9pZCZjdD1n/3o7abKhOpu0NPG9yVI/giphy.gif" alt="Success" width="300" />
    </div>
</div>